
  <h1>{{ site.title | default: site.github.repository_name }}</h1>
  <p>{{ site.description | default: site.github.project_tagline }}</p>
  <nav class="main-nav">
    <ul>
      {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
      {% for p in navigation_pages %}
        {% if p.navigation_weight %}

              <li>
                <a href="{{ site.baseurl }}{{ p.url }}" {% if p.url == page.url %}class="active"

                {% endif %}>
                {{ p.title }}
                </a>
              </li>

        {% endif %}

      {% endfor %}
    </ul>
  </nav>
  <!-- {% if site.github.is_project_page %}
    <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
  {% endif %}

  {% if site.github.is_user_page %}
    <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
  {% endif %} -->
